## Manipulating Dataframes in Pandas

In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('vehicles.csv')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [12]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

#### Renaming columns

In [13]:
df = df.rename(columns={'Make':'Manufacturer'})

In [14]:
df.head()

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [15]:
df.rename(columns={'Make':'Manufacturer'}, inplace = True)

In [16]:
df.head()

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [17]:
df.rename(columns={'Make':'Manufacturer', 'Engine Displacement': 'Displacement'}, inplace = True)

In [18]:
df['Manufacturer'].head()

0          AM General
1          AM General
2          AM General
3          AM General
4    ASC Incorporated
Name: Manufacturer, dtype: object

#### Dropping columns

In [19]:
df.columns

Index(['Manufacturer', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [20]:
df = df.drop('Fuel Cost/Year', axis = 1)

In [21]:
df = df.drop(['Highway MPG', 'City MPG'], axis = 1)

In [22]:
del df['Year']

In [23]:
df.columns

Index(['Manufacturer', 'Model', 'Displacement', 'Cylinders', 'Transmission',
       'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year',
       'Combined MPG', 'CO2 Emission Grams/Mile'],
      dtype='object')

#### Filtering Data

In [24]:
df_ford = df[df['Manufacturer']=='Ford']
df_ford.head()

,Manufacturer,Model,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile
11440,Ford,Aerostar Van,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,19,467.736842
11441,Ford,Aerostar Van,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,24,370.291667
11442,Ford,Aerostar Van,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,17,522.764706
11443,Ford,Aerostar Van,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,18,493.722222
11444,Ford,Aerostar Van,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,19,467.736842

In [25]:
df_ford_1986 = df[(df['Manufacturer'] == 'Ford') & (df['Year'] == 1986)]

df_ford_1986.head()

KeyError: 'Year'

In [26]:
df.describe()

,Displacement,Cylinders,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile
count,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,3.338493,5.765076,17.609056,19.929322,475.316339
std,1.359395,1.755268,4.467283,5.112409,119.060773
min,0.600000,2.000000,0.060000,7.000000,37.000000
25%,2.200000,4.000000,14.699423,16.000000,395.000000
50%,3.000000,6.000000,17.347895,19.000000,467.736842
75%,4.300000,6.000000,20.600625,23.000000,555.437500
max,8.400000,16.000000,47.087143,56.000000,1269.571429

#### Calculations on Dataframes

In [27]:
df['hello'] = 'hello'
df.head()

,Manufacturer,Model,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile,hello
0,AM General,DJ Po Vehicle 2WD,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,17,522.764706,hello
1,AM General,FJ8c Post Office,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,683.615385,hello
2,AM General,Post Office DJ5 2WD,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,555.437500,hello
3,AM General,Post Office DJ8 2WD,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,683.615385,hello
4,ASC Incorporated,GNX,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,16,555.437500,hello

In [28]:
df['Age'] = 2020 - df['Year']

KeyError: 'Year'

In [29]:
df['y2020'] = df['Age'] + df['Year']
df.head()

KeyError: 'Age'

#### Applying Functions to Columns

In [30]:
df.describe()

,Displacement,Cylinders,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile
count,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,3.338493,5.765076,17.609056,19.929322,475.316339
std,1.359395,1.755268,4.467283,5.112409,119.060773
min,0.600000,2.000000,0.060000,7.000000,37.000000
25%,2.200000,4.000000,14.699423,16.000000,395.000000
50%,3.000000,6.000000,17.347895,19.000000,467.736842
75%,4.300000,6.000000,20.600625,23.000000,555.437500
max,8.400000,16.000000,47.087143,56.000000,1269.571429

In [31]:
df.sum()

Manufacturer               AM GeneralAM GeneralAM GeneralAM GeneralASC In...
Model                      DJ Po Vehicle 2WDFJ8c Post OfficePost Office D...
Displacement                                                          120026
Cylinders                                                             207266
Transmission               Automatic 3-spdAutomatic 3-spdAutomatic 3-spdA...
Drivetrain                 2-Wheel Drive2-Wheel DriveRear-Wheel DriveRear...
Vehicle Class              Special Purpose Vehicle 2WDSpecial Purpose Veh...
Fuel Type                  RegularRegularRegularRegularPremiumRegularRegu...
Fuel Barrels/Year                                                     633081
Combined MPG                                                          716499
CO2 Emission Grams/Mile                                          1.70886e+07
hello                      hellohellohellohellohellohellohellohellohelloh...
dtype: object

In [32]:
df.sum(axis = 1)

0        565.653529
1        732.170000
2        598.538125
3        732.170000
4        601.838125
            ...
35947    293.155833
35948    292.155833
35949    293.155833
35950    295.055833
35951    303.317429
Length: 35952, dtype: float64

In [33]:
df[['Year', 'City MPG']].sum()

KeyError: "None of [Index(['Year', 'City MPG'], dtype='object')] are in the [columns]"

In [ ]:
columns_to_compute = ['Year', 'City MPG']
df[columns_to_compute].sum()

In [ ]:
df[['Year', 'City MPG']].max()

In [ ]:
df = df.sort_values(by = 'Year')

df.sort_values(by = 'Year', inplace = True, ascending = False)

In [ ]:
df.sort_values?

In [ ]:
df.sort_values(by = ['Year', 'City MPG'])

In [ ]:
df.nlargest(3, 'Year')

In [ ]:
largest_three = df.nlargest(3, ['Year', 'City MPG'])

#### Using df.apply

In [ ]:
df['Manufacturer'].str.upper()

In [ ]:
df['Manufacturer'].apply(lambda x: x.replace('e', 'b'))

In [34]:
#df['Manufacturer'].apply(str.upper)
df['Manufacturer'].apply(lambda x: x.upper())

0              AM GENERAL
1              AM GENERAL
2              AM GENERAL
3              AM GENERAL
4        ASC INCORPORATED
               ...
35947               SMART
35948               SMART
35949               SMART
35950               SMART
35951               SMART
Name: Manufacturer, Length: 35952, dtype: object

In [35]:
subset = df[['Manufacturer', 'Vehicle Class']]
for i in range(len(subset.columns)):
    print(df[subset.columns[i]].apply(lambda x: x.replace('e', 'b')))

0              AM Gbnbral
1              AM Gbnbral
2              AM Gbnbral
3              AM Gbnbral
4        ASC Incorporatbd
               ...
35947               smart
35948               smart
35949               smart
35950               smart
35951               smart
Name: Manufacturer, Length: 35952, dtype: object
0        Spbcial Purposb Vbhiclb 2WD
1        Spbcial Purposb Vbhiclb 2WD
2        Spbcial Purposb Vbhiclb 2WD
3        Spbcial Purposb Vbhiclb 2WD
4                       Midsizb Cars
                    ...
35947                    Two Sbatbrs
35948                    Two Sbatbrs
35949                    Two Sbatbrs
35950                    Two Sbatbrs
35951                    Two Sbatbrs
Name: Vehicle Class, Length: 35952, dtype: object

#### Dataframe Aggregation using groupby

In [36]:
df.mean()

Displacement                 3.338493
Cylinders                    5.765076
Fuel Barrels/Year           17.609056
Combined MPG                19.929322
CO2 Emission Grams/Mile    475.316339
dtype: float64

In [37]:
df.groupby(['Fuel Type', 'Manufacturer']).mean()

                                          Displacement  Cylinders  \
Fuel Type                   Manufacturer
CNG                         Chevrolet         6.000000       8.00
                            Dodge             4.487500       7.25
                            Ford              5.063158       8.00
                            GMC               6.000000       8.00
                            Honda             1.738889       4.00
...                                                ...        ...
Regular Gas and Electricity Ford              2.000000       4.00
                            Honda             2.000000       4.00
                            Hyundai           2.000000       4.00
                            Toyota            1.800000       4.00
Regular Gas or Electricity  Chevrolet         1.500000       4.00

                                          Fuel Barrels/Year  Combined MPG  \
Fuel Type                   Manufacturer
CNG                         Chevrolet              0.181867     10.400000
                            Dodge                  0.133433     14.250000
                            Ford                   0.138454     13.736842
                            GMC                    0.180833     10.500000
                            Honda                  0.065410     28.500000
...                                                     ...           ...
Regular Gas and Electricity Ford                   4.801412     38.444444
                            Honda                  4.827657     46.000000
                            Hyundai                3.858080     39.500000
                            Toyota                 4.739011     50.000000
Regular Gas or Electricity  Chevrolet              2.006844     42.000000

                                          CO2 Emission Grams/Mile
Fuel Type                   Manufacturer
CNG                         Chevrolet                  693.198000
                            Dodge                      508.590547
                            Ford                       527.726359
                            GMC                        689.259375
                            Honda                      247.532772
...                                                           ...
Regular Gas and Electricity Ford                       127.111111
                            Honda                      130.000000
                            Hyundai                    102.500000
                            Toyota                     133.000000
Regular Gas or Electricity  Chevrolet                   51.000000

[265 rows x 5 columns]

In [38]:
df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].mean()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

KeyError: "Columns not found: 'City MPG'"

In [106]:
df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].agg(['mean', 'max', 'min'])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                            Cylinders              City MPG
                                 mean   max  min       mean max min
Fuel Type
CNG                          6.500000   8.0  4.0  15.966667  27   8
Diesel                       6.225027  10.0  4.0  21.173436  38  13
Gasoline or E85              6.974059   8.0  4.0  15.347280  28  10
Gasoline or natural gas      6.800000   8.0  4.0  13.700000  21  10
Gasoline or propane          8.000000   8.0  8.0  12.000000  13  11
Midgrade                     7.864865   8.0  6.0  14.851351  21  13
Premium                      6.365286  16.0  2.0  16.793166  42   6
Premium Gas or Electricity   4.235294   8.0  2.0  30.705882  41  20
Premium and Electricity      4.850000   8.0  3.0  24.900000  37  16
Premium or E85               6.892562  12.0  4.0  17.305785  24  11
Regular                      5.420952  12.0  2.0  17.970195  58   7
Regular Gas and Electricity  4.000000   4.0  4.0  43.125000  51  38
Regular Gas or Electricity   4.000000   4.0  4.0  43.000000  43  43

In [ ]:
grouped1 = df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].mean()
grouped2 = df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].mean().reset_index()

In [ ]:
print(grouped1)
print(grouped2)

In [ ]:
grouped1['Cylinders']

In [83]:
avg_mpg = df.groupby('Make', as_index=False).agg({'Combined MPG':'mean'})

In [84]:
avg_mpg

                            Make  Combined MPG
0                     AM General     14.750000
1               ASC Incorporated     16.000000
2                          Acura     21.506623
3                     Alfa Romeo     19.512195
4    American Motors Corporation     17.681818
..                           ...           ...
122                   Volkswagen     24.093601
123                        Volvo     20.605300
124        Wallace Environmental     13.875000
125                         Yugo     25.000000
126                        smart     35.800000

[127 rows x 2 columns]

In [124]:
avg_mpg1 = df.groupby(['Make'], as_index=False).agg({'Combined MPG':'mean', 'Cylinders':'sum'})

In [125]:
avg_mpg1

                            Make  Combined MPG  Cylinders
0                     AM General     14.750000       20.0
1               ASC Incorporated     16.000000        6.0
2                          Acura     21.506623     1580.0
3                     Alfa Romeo     19.512195      218.0
4    American Motors Corporation     17.681818      122.0
..                           ...           ...        ...
122                   Volkswagen     24.093601     4811.0
123                        Volvo     20.605300     3546.0
124        Wallace Environmental     13.875000      250.0
125                         Yugo     25.000000       32.0
126                        smart     35.800000       60.0

[127 rows x 3 columns]

In [109]:
avg_mpg3 = df.groupby(['Make'])['Combined MPG'].agg(['mean'])

In [110]:
avg_mpg3

                                  mean
Make
AM General                   14.750000
ASC Incorporated             16.000000
Acura                        21.506623
Alfa Romeo                   19.512195
American Motors Corporation  17.681818
...                                ...
Volkswagen                   24.093601
Volvo                        20.605300
Wallace Environmental        13.875000
Yugo                         25.000000
smart                        35.800000

[127 rows x 1 columns]

In [122]:
avg_mpg4 = df.groupby(['Make'], as_index=False)['Combined MPG'].agg(['mean']).reset_index()

In [123]:
avg_mpg4

                            Make       mean
0                     AM General  14.750000
1               ASC Incorporated  16.000000
2                          Acura  21.506623
3                     Alfa Romeo  19.512195
4    American Motors Corporation  17.681818
..                           ...        ...
122                   Volkswagen  24.093601
123                        Volvo  20.605300
124        Wallace Environmental  13.875000
125                         Yugo  25.000000
126                        smart  35.800000

[127 rows x 2 columns]